.background-color {

    background-color: purple;
}

.login {

    font-size: 50px;
    text-align: center;
}

.titulo-label {

    font-size: 25px;
}

.buton-size {

    font-size: 25px;
}

.link-tamaño {

    font-size: 25px;
}

.google {

    background-color: #dd4b39;
}